{{> header}}
    {{!-- <p>{{screamIt 'hello'}}</p> --}}
    <div class="hero">
        <h2>London based web developer focusing on<br>JavaScript technologies.</h2>
        <div class="chevron"></div>
    </div>
    <div class="centre centre-text">
        <h3 class="work-title">MY LATEST WORK</h3>
        <div class="work-area"></div>
    </div>
{{> footer}}
